# abobich675.github.io

* {
    box-sizing: border-box;
    accent-color: #DD3E3E;
}

body {
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
    padding-top: 0px;
    min-height: 75px;
    text-align: center;
    overflow: clip;
}

label {
    font-size: 12px;
}

input {
    accent-color: #DD3E3E;
}

.settingsBar {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.25);
    position: fixed;
    /*    display: inline-block;*/
    padding: 5px;
    text-align: left;
    top: 75px;
    left: 15%;
    /*    transition: top 0.3s;*/
}