# abobich675.github.io

* {
    box-sizing: border-box;
    accent-color: #DD3E3E;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
    padding-top: 0px;
    min-height: 75px;
    text-align: center;
}

label {
    font-size: 12px;
}