# abobich675.github.io

* {
    box-sizing: border-box;
    accent-color: #DD3E3E;
}

body {
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
    padding-top: 0px;
    min-height: 75px;
    text-align: center;
    overflow: clip;
}

label {
    font-size: 12px;
}

input {
    accent-color: #DD3E3E;
}

.settingsBar {
    overflow: scroll;
    background-color: #333;
    position: fixed;
    /*    display: inline-block;*/
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    /*    transition: top 0.3s;*/
}